*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black; /* Riempie il resto dello sfondo */
    display: flex;
    flex-direction: column;/* Gli elementi si impilano verticalmente */
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.intestazione{
    height: 60px;
    width: 650px;
    background-color: white ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 40px;
    font-weight: 900;
    margin-top: 30px;
    color: blue;

}
.medium{
    height: 450px;
    width: 650px;
    background-color: blue ;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: blue;
    padding-left: 20px;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}
#m1t2,#t2t2{
    font-size: 25px;
    font-weight: 500;
}
.testo2{
    color: white;
}
#t3t2{
    font-size:  48px;
    font-weight: 900;
}
#t4t2{
    font-size: 18px;
}
#t5t2{
    font-size:  24px;
    font-weight: 900;
}
.penultimo{
    height: 200px;
    width: 650px;
    background-color: white ;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.b2{
    color: aqua;
    font-size: 25px;
}
.info2{
    font-size: 36px;
    font-weight: 900;
}
.ultimo{
    height: 170px;
    width: 650px;
    background-color: rgb(200, 195, 195) ;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    color: black;
}
.s2{
    font-size: 25px;

}
.q2{
    font-size: 36px;
}